/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

body{
    font-family: 'Roboto', sans-serif;
}

/* Header */

header {
    background-color: #eac922;
    width: 100%;
    height: 50%;

}

.container-header {
    display: flex;

}

.logo {
    width: 400px;
    display: flex;
    justify-content: flex-start;
    padding: auto;
    margin-top: 10px;
    margin-left: 10px;


}

.barra {
    width: 300px;
    height: 40px;

}

.search-bar {
    justify-content: center;
    margin-top: 40px;
    margin-left: 70px;


}

.button-lupa {
    border: none;
    cursor: pointer;
    background-color: #ebebeb;
    height: 40px;
    width: 40px;

}

.fa-magnifying-glass {
    color: black;
    height: 30px;
}

.icono-mensaje {
    justify-content: flex-end;
    margin-top: 40px;
    margin-left: 70px;
    text-align: right;

}

.fa-hand-holding-dollar{
    color: #353d4b;
}



/* NAVBAR */

.navbar {
    display: flex;

}

.nav-bar1 {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    list-style: none;
    margin-bottom: 5px;

}

.nav-bar1 a {
    margin-right: 10px;
    text-decoration: none;
    margin-bottom: 5px;
    color: #353d4b;

}

.nav-bar2 {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    list-style: none;
    margin-right: 10px;


}

.nav-bar2 a {
    margin-right: 10px;
    text-decoration: none;
    margin-bottom: 5px;
    color: #353d4b;
}


.burger-menu {
    display: none;
    text-align: center;
    font-size: 2em;
    margin-bottom: 10px;
    width: 50px;

}

.fa-bars {
    background-color: #353d4b;
    width: 50px;
    height: 30px;
}

.banner{
    width: 100%;
}

/* MAIN */

main{
    width: 100%;
    background-color: #ebebeb;
    
    
}         

.lista-articulos{
    list-style: none;
    display: flex;
  
    
}

.caja-articulos{
    background-color: #ffff;
    border: solid 1px #ebebeb;
    box-sizing: border-box;
    text-align: center;
    margin-right: 20px;
    margin-bottom: 15px;
    transition-duration: 0.5s;
    width: 90%;

   
}
 
.caja-articulos:hover{
    box-shadow: 2px 2px 2px 2px #afabab;
   
    
}

.container-caja{
    border-top: #ebebeb 1px solid;
    box-sizing: border-box;
    margin: auto;
    transition-duration: 0.5s;
   
}

.container-caja:hover{
    box-shadow: 2px 2px 2px 2px #afabab

}

.imagen-articulo{
    width: 15rem;
    height: 15rem;
    margin: 10px;

}

.titulares{
    font-size: 24px;
    margin-top: 40px;
    margin-bottom: 30px;
    margin-left: 20px;
    color: #353d4b;


}

.precio{
    font-size: 18px;
    color: #353d4b;
    text-align: left;
    margin-left: 20px;

   
}

.descuento{
    font-size: 16px;
    color: #39b54a;
    font-weight: bold;
    padding-bottom: 0.6rem;
    text-align: right;
    margin-right: 20px;
    margin-top: 10px;
    
}

.descripcion{
    font-size: 16px;
    font-weight: bold;
    color: white;
    text-align: center;
    transition-duration: 0.5s;
    padding-bottom: 5px;
}

.descripcion:hover{
    color: #353d4b;
}

.icono-camion{
    border: solid 1px #39b54a;
    color: #39b54a;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    background-color: white;
    line-height: 35px;
    margin-top: 5px;
    position: relative;
    right: 20px;
    top: -30px;
    margin-left: 50px;
    
       
}

.fa-truck{
    text-align: center;
    margin-left: 5px;
}


.container-avisos{
    background-color: #ebebeb;
    text-align: center;
    display: flex;
    justify-content: center;
    background-color: white;
    margin-top: 20px;
}


.iconos-titulares-parrafos{
    margin-bottom: 15px;
    margin-top: 15px;
    
    
}


.icono-aviso{
    font-size: 32px;
    color: #2b5191;
    margin-bottom: 10px;
    transition-duration: 0.5s;
    

}

.icono-aviso:hover{
    color: #8c98c7;

}


.titulo-aviso{
    font-size: 18px;
    font-weight: bold;
    color: #353d4b;
}

.parrafo-aviso{
    font-size: 16px;
    text-align: center;
    color: #353d4b;
    margin-left: 20px;
    
}

/* Footer */

.copyright{
   color: #353d4b;
   text-align: center;
   margin-top: 15px;
   margin-bottom: 5px;
    

}



/* Media Queries */ 

/* Smartphones */

@media (min-width: 478) {
        .logo{
            width: 100%;
        }
    
        .search-bar{
            width: 40%;
        }

        .navbar {
            display: flex ;
            justify-content: space-between;
            padding: 0px;
            width: 100%;
        }

        .navbar ul{
            list-style: none;
            display: flex;
        }

        .navbar a {
            text-decoration: none;
            display: flex;
    
        }
        
        .navbar li{
            margin-right: 5px;
            display: flex;
        }

        .burger-menu{
            display: none;
        }
        
        .titulares{
            font-size: 20px;
        }

        .caja-articulos{
            max-width: 40%;
            transition: all 0.5s;
        }

        .caja-articulos:hover{
            box-shadow: 0px 0px 10px rgb(100, 100, 100);
    
        }
        
        .descripcion{
            display: block;
            opacity: 0;
            transition: opacity 0.5s ease;
        }

        .caja-articulos:hover .container-caja .descripcion {
            opacity: 1;
        }
        
        .lista-articulos{
            display: flex;
            align-items: stretch;
            flex-wrap: wrap;
        }
        
        .imagen-articulo{
            max-width: 90%;
        }
    
    
/* Tablets */

@media (min-width: 768px) {
    .navbar a{
        font-size: 16px;
        margin: 0 5px 5px;
    }
    .icono-mensaje{
        font-size: 18px;
    }

    .control-input{
        max-width: 600px;
    }

    .control-login{
        max-width: 600px;;
    }
    
    .titulares{
        font-size: 25px;
    }
    
    .lista-articulos{
        display: flex;
        align-items: stretch;
        flex-wrap: wrap;
    }
        
    .caja-articulos{
        max-width: 24%;
    }

    .imagen-articulo{
        max-width: 90%;
    }

    .icono-camion{
            position: relative;
        }
        
}

/* Laptops */

@media (min-width: 992) {
    header {
        display: flex;
        flex-wrap: wrap;
    }

    .navbar{
        font-size: 22px;
    }

    .container-header {
        width: 70%;
    }

    .icono-mensaje .titulares{
        width: 30%;
    }

    .titulares{
        font-size: 32px;
        max-width: 300px;
        text-align: center;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .parrafos-footer{
        font-size: 14px;
        
    }

    .control-login{
        font-size: 16px;
    }
    

}

/* Desktop */

@media (min-width: 1200px) {
    .navbar a {
        font-size: 18px;
    }

    .icono-mensaje{
        font-size: 20px;
    }
    
    .parrafos-footer{
        font-size: 16px;
    }

    .search-bar{
        max-width: 550px;
        font-size: 25px;
    }

    .titulos-footer{
        font-size: 18px;
    }
    
    .container-footer{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .container-footer section {
        max-width: 30%;
        margin-bottom: 20px;
    }

    .descripcion{
        font-size: 18px;
    }

   .barra {
        font-size: 20px;
    }
}
}   

