<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Link Style -->
        <link rel="stylesheet" href="/css/register.css">
        <!-- Link JavaScript -->
        <link rel="stylesheet" href="/src/app.js">
        <!-- Link Fontawesom -->
        <script src="https://kit.fontawesome.com/2262013d83.js" crossorigin="anonymous"></script>
        <!-- Link Bootstrap -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <!-- Link Google Fonts -->
        <link href="https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto&display=swap" rel="stylesheet">
        
        <title>Bienvenidos a Mercado Liebre</title>
</head>
<body>

    <!-------- HEADER -------->

    <header>
        <div class="container-header">

            <!---------- Logo --------->

            <div class="logo">
                <img src="/img/logo-mercado-liebre.svg" alt="logo-mercado-liebre">
            
            </div>
            
        <!-------- Barra de búsqueda -------->

            <div>
                <form action="">
                    <label for="">
                        <div class="search-bar">
                            <input type="text" name="barra-buscador" class="barra" placeholder="Buscar...">
                            <button class="button-lupa" type="submit"><i class="fa-thin fa-magnifying-glass"></i></button>
                        </div>
                    </label>
                </form>
            </div>
        
            <div class="icono-mensaje">
                <p><i class="fa-solid fa-hand-holding-dollar"></i> Comprá en cuotas y sin tarjeta de crédito </i></p>
            </div>
        </div>

        <!-------- Navbar -------->

        <nav class="navbar">
            <ul class="nav-bar1">
                    <li><a href="">Ofertas</li>
                    <li><a href="">Tiendas Oficiales</a></li>
                    <li><a href="">Vender</a></li>
                    <li><a href="">Ayuda</a></li>
            </ul>
            
            <ul class="nav-bar2">
                    <li><a href="./register">Creá tu cuenta <i class="fa-solid fa-user"></i></a></li>
                    <li><a href="./login">Ingresá <i class="fa-solid fa-right-to-bracket"></i></a></li>
                    <li><a href="">Mis compras <i class="fa-solid fa-basket-shopping"></i></a></li>
            </ul>
            
<!-------- Menú Hamburguesa -------->

            <div class="burger-menu">
                <i class="fa-solid fa-bars"></i>
            </div>
        </nav>
    </header>

<!-------- Banner -------->    

    <section>
        <img src="/img/img-home-banner.jpg" alt="Banner de ofertas" class="banner">
    </section>

<!-------- MAIN -------->

    <main>
        <div class="formulario-register">
            <form action="/src/views/register.html" method="POST">
                <p>
                    <label for="nombre">NOMBRE Y APELLIDO:
                    </label>
                      <input type="text" name="nombre-apellido" id="nombre-apellido">
                </p>
                <p>
                    <label for="email">EMAIL:
                    </label>
                      <input type="email" name="email" id="email">
                </p>
                <p>
                    <label for="date">FECHA DE NACIMIENTO:
                    </label>
                      <input type="date" name="fecha" value="mm/dd/aaaa">
                </p>
                <p>
                    <label for="domicilio">DOMICILIO:
                    </label>
                     <input type="text" name="domicilio" id="domicilio">
                </p>
                <p>
                    <label for="perfil-usuario">PERFIL DEL USUARIO:</label>
                    
                    <label class="label-perfil"><input type="radio" name="perfil" value="comprador" class="input-perfil">Comprador</label>
                    <label class="label-perfil"><input type="radio" name="perfil" value="vendedor" class="input-perfil">Vendedor</label>
                </p>
                <p>
                    <label for="categorias">CATEGORIAS DE INTERES (PUEDE ELEGIR MAS DE UNA):</label>
                    
                    <label class="label-categorias"><input type="checkbox" name="categoria" value="electro" class="input-categoria">Electro</label>
                    <label class="label-categorias"><input type="checkbox" name="categoria" value="moda" class="input-categoria">Moda</label>
                    <label class="label-categorias"><input type="checkbox" name="categoria" value="hogar" class="input-categoria">Hogar</label>
                    <label class="label-categorias"><input type="checkbox" name="categoria" value="jugueteria" class="input-categoria">Jugueteria</label>
                    <label class="label-categorias"><input type="checkbox" name="categoria" value="vidasana" class="input-categoria">Vida Sana</label>
                </p>
                <p>
                    <label for="file">FOTO DE USUARIO:</label>
                    
                    <input type="file" name="avatar" accept=".jpg">
                </p>
                <p>
                    <label for="clave">CONTRASEÑA:
                    </label>
                      <input type="password" name="clave" id="clave">
                <p>
                    <label for="confirmacion-clave">CONFIRMAR CONTRASEÑA:
                    </label>
                      <input type="password" name="confirmacion-clave" id="confirmacion-clave">
                </p>


                <button type="submit"><p>ENVIAR</p></button>

                <button type="reset"><p>ELIMINAR</p></button>

            </form>
        </div>
    </main>

    <!-------- FOOTER -------->

    <footer class="copyright">
        <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
       
    </footer>


</body>


</html>

  